.headerStyle {
  padding-inline: 180px;
  line-height: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 640px) {
  .headerStyle {
    padding-inline: 50px;
  }
}
