.popularContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 16px 0px;
}

.popularInfo {
  display: flex;
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
}

.text {
  font-weight: bold;
}
